
<html lang="en">
<head>
    <meta charset="windows-1251">
</head>
<body >
    <table style="width: 600px; height: 600px;">
            <tbody>
                <tr>
                    <td style="width: 100%; height: 100px; text-align: center; ">Приглашение на отдых!!! </td>
                </tr>
                <tr>
                    <td style="width: 100%;height: 300px">
                        <img src="../static/images/1.jpeg" style="width: 100%; height: 300px">
                    </td>
                </tr><tr>
                <td style="width: 100%;height: 50px; text-align: center">
                        <p>Тел.: +7 777 777 77 77</p>
                        <p>Web:<a style="font-weight: bold"> www.wwwwwww.ww</a></p>
                    </td>
                </tr>
                <tr>
                    <td >
                    <table style=" width: 100%;height: 150px">
                        <tbody>
                        <tr>
                            <td style=" width: 25%;height: 150px">Акции:</td>
                            <td style=" width: 25%;height: 150px">Предложения:</td>
                            <td style=" width: 25%;height: 150px">Цены:</td>
                            <td style=" width: 25%;height: 150px">Контакты:</td>
                        </tr>
                    </table>
                    </td>
                </tr>
            </tbody>
    </table>

</body>
</html>